
body {
    padding-top: 50px;
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* 轮播广告 */
#ad-carousel{
    display: block;
}
.carousel {
    height: 700px;
    margin-bottom: 60px;
}

.carousel .item {
    height: 700px;
    background-color: #000;
}

.carousel .item img {
    width: 100%;
}

.carousel-caption {
    z-index: 10;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}


/* 简介 */

.summary {
    padding-right: 15px;
    padding-left: 15px;
}

.summary .col-md-4 {
    margin-bottom: 20px;
    text-align: center;
}

/* 特性 */

.feature-divider {
    margin: 40px 0;
}

.feature {
    padding: 30px 0;
}

.feature-heading {
    font-size: 50px;
    color: #2a6496;
}

.feature-heading .text-muted {
    font-size: 28px;
}

/* 响应式布局 */

@media (max-width: 768px) {

    .summary {
        padding-right: 3px;
        padding-left: 3px;
    }

    .carousel {
        height: 300px;
        margin-bottom: 30px;
    }

    .carousel .item {
        height: 300px;
    }

    .carousel img {
        min-height: 300px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }

    .feature-heading {
        font-size: 34px;
    }

    .feature-heading .text-muted {
        font-size: 22px;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }
}

#feature {
    background: url("../images/featue-bg.jpg");
    background-position: 50% 94px;
    width: 100%;
    display: block;
    position: relative;
    overflow: visible;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 100px 0;
    margin-bottom: 60px;
}
#feature h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
#feature p {
    color: #8d8f92;
    margin-bottom: 20px;
}
#feature .btn-view-works {
    background: #655E7A;
    color: #fff;
    padding: 10px 20px;
}
